/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    /*border are padding added to height or width*/
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    /*should be 95% of viewpoint height*/
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(126,213,111, 0.8),
            rgba(40, 180,131, 0.8)),
    url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);

    /*Make a triangle*/
    /*clip-path: polygon(50% 0, 100% 100%, 0 100%);*/
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 40px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Easiest way to center is to use transform, top, and left CSS properties*/

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /*Very important properties dealing with animation2*/
    animation-name: moveInLeft;
    animation-duration: 3s;

}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-delay: 3s;
}
/*Best to animate opacity and transform properties only these two for now*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }

    80% {
        transform: translateX(40px);
    }


    100% {
        opacity: 1;
        /*Translate 0 allows to revert to preanimated state, as it would look before*/
        transform: translate(0);
    }
}

